:root {
  --colorWhite: #FFFFFF;
  --colorBlack: #000000;

  --colorRed-50: #FFEBEE;
  --colorRed-100: #FFCDD2;
  --colorRed-200: #EF9A9A;
  --colorRed-300: #E57373;
  --colorRed-400: #EF5350;
  --colorRed-500: #F44336;
  --colorRed-600: #E53935;
  --colorRed-700: #D32F2F;
  --colorRed-800: #C62828;
  --colorRed-900: #B71C1C;
  --colorRed-A100: #FF8A80;
  --colorRed-A200: #FF5252;
  --colorRed-A400: #FF1744;
  --colorRed-A700: #D50000;

  --colorPink-50: #FCE4EC;
  --colorPink-100: #F8BBD0;
  --colorPink-200: #F48FB1;
  --colorPink-300: #F06292;
  --colorPink-400: #EC407A;
  --colorPink-500: #E91E63;
  --colorPink-600: #D81B60;
  --colorPink-700: #C2185B;
  --colorPink-800: #AD1457;
  --colorPink-900: #880E4F;
  --colorPink-A100: #FF80AB;
  --colorPink-A200: #FF4081;
  --colorPink-A400: #F50057;
  --colorPink-A700: #C51162;

  --colorPurple-50: #F3E5F5;
  --colorPurple-100: #E1BEE7;
  --colorPurple-200: #CE93D8;
  --colorPurple-300: #BA68C8;
  --colorPurple-400: #AB47BC;
  --colorPurple-500: #9C27B0;
  --colorPurple-600: #8E24AA;
  --colorPurple-700: #7B1FA2;
  --colorPurple-800: #6A1B9A;
  --colorPurple-900: #4A148C;
  --colorPurple-A100: #EA80FC;
  --colorPurple-A200: #E040FB;
  --colorPurple-A400: #D500F9;
  --colorPurple-A700: #AA00FF;

  --colorDeepPurple-50: #EDE7F6;
  --colorDeepPurple-100: #D1C4E9;
  --colorDeepPurple-200: #B39DDB;
  --colorDeepPurple-300: #9575CD;
  --colorDeepPurple-400: #7E57C2;
  --colorDeepPurple-500: #673AB7;
  --colorDeepPurple-600: #5E35B1;
  --colorDeepPurple-700: #512DA8;
  --colorDeepPurple-800: #4527A0;
  --colorDeepPurple-900: #311B92;
  --colorDeepPurple-A100: #B388FF;
  --colorDeepPurple-A200: #7C4DFF;
  --colorDeepPurple-A400: #651FFF;
  --colorDeepPurple-A700: #6200EA;

  --colorIndigo-50: #E8EAF6;
  --colorIndigo-100: #C5CAE9;
  --colorIndigo-200: #9FA8DA;
  --colorIndigo-300: #7986CB;
  --colorIndigo-400: #5C6BC0;
  --colorIndigo-500: #3F51B5;
  --colorIndigo-600: #3949AB;
  --colorIndigo-700: #303F9F;
  --colorIndigo-800: #283593;
  --colorIndigo-900: #1A237E;
  --colorIndigo-A100: #8C9EFF;
  --colorIndigo-A200: #536DFE;
  --colorIndigo-A400: #3D5AFE;
  --colorIndigo-A700: #304FFE;

  --colorBlue-50: #E3F2FD;
  --colorBlue-100: #BBDEFB;
  --colorBlue-200: #90CAF9;
  --colorBlue-300: #64B5F6;
  --colorBlue-400: #42A5F5;
  --colorBlue-500: #2196F3;
  --colorBlue-600: #1E88E5;
  --colorBlue-700: #1976D2;
  --colorBlue-800: #1565C0;
  --colorBlue-900: #0D47A1;
  --colorBlue-A100: #82B1FF;
  --colorBlue-A200: #448AFF;
  --colorBlue-A400: #2979FF;
  --colorBlue-A700: #2962FF;

  --colorLightBlue-50: #E1F5FE;
  --colorLightBlue-100: #B3E5FC;
  --colorLightBlue-200: #81D4FA;
  --colorLightBlue-300: #4FC3F7;
  --colorLightBlue-400: #29B6F6;
  --colorLightBlue-500: #03A9F4;
  --colorLightBlue-600: #039BE5;
  --colorLightBlue-700: #0288D1;
  --colorLightBlue-800: #0277BD;
  --colorLightBlue-900: #01579B;
  --colorLightBlue-A100: #80D8FF;
  --colorLightBlue-A200: #40C4FF;
  --colorLightBlue-A400: #00B0FF;
  --colorLightBlue-A700: #0091EA;

  --colorCyan-50: #E0F7FA;
  --colorCyan-100: #B2EBF2;
  --colorCyan-200: #80DEEA;
  --colorCyan-300: #4DD0E1;
  --colorCyan-400: #26C6DA;
  --colorCyan-500: #00BCD4;
  --colorCyan-600: #00ACC1;
  --colorCyan-700: #0097A7;
  --colorCyan-800: #00838F;
  --colorCyan-900: #006064;
  --colorCyan-A100: #84FFFF;
  --colorCyan-A200: #18FFFF;
  --colorCyan-A400: #00E5FF;
  --colorCyan-A700: #00B8D4;

  --colorTeal-50: #E0F2F1;
  --colorTeal-100: #B2DFDB;
  --colorTeal-200: #80CBC4;
  --colorTeal-300: #4DB6AC;
  --colorTeal-400: #26A69A;
  --colorTeal-500: #009688;
  --colorTeal-600: #00897B;
  --colorTeal-700: #00796B;
  --colorTeal-800: #00695C;
  --colorTeal-900: #004D40;
  --colorTeal-A100: #A7FFEB;
  --colorTeal-A200: #64FFDA;
  --colorTeal-A400: #1DE9B6;
  --colorTeal-A700: #00BFA5;

  --colorGreen-50: #E8F5E9;
  --colorGreen-100: #C8E6C9;
  --colorGreen-200: #A5D6A7;
  --colorGreen-300: #81C784;
  --colorGreen-400: #66BB6A;
  --colorGreen-500: #4CAF50;
  --colorGreen-600: #43A047;
  --colorGreen-700: #388E3C;
  --colorGreen-800: #2E7D32;
  --colorGreen-900: #1B5E20;
  --colorGreen-A100: #B9F6CA;
  --colorGreen-A200: #69F0AE;
  --colorGreen-A400: #00E676;
  --colorGreen-A700: #00C853;

  --colorLightGreen-50: #F1F8E9;
  --colorLightGreen-100: #DCEDC8;
  --colorLightGreen-200: #C5E1A5;
  --colorLightGreen-300: #AED581;
  --colorLightGreen-400: #9CCC65;
  --colorLightGreen-500: #8BC34A;
  --colorLightGreen-600: #7CB342;
  --colorLightGreen-700: #689F38;
  --colorLightGreen-800: #558B2F;
  --colorLightGreen-900: #33691E;
  --colorLightGreen-A100: #CCFF90;
  --colorLightGreen-A200: #B2FF59;
  --colorLightGreen-A400: #76FF03;
  --colorLightGreen-A700: #64DD17;

  --colorLime-50: #F9FBE7;
  --colorLime-100: #F0F4C3;
  --colorLime-200: #E6EE9C;
  --colorLime-300: #DCE775;
  --colorLime-400: #D4E157;
  --colorLime-500: #CDDC39;
  --colorLime-600: #C0CA33;
  --colorLime-700: #AFB42B;
  --colorLime-800: #9E9D24;
  --colorLime-900: #827717;
  --colorLime-A100: #F4FF81;
  --colorLime-A200: #EEFF41;
  --colorLime-A400: #C6FF00;
  --colorLime-A700: #AEEA00;

  --colorYellow-50: #FFFDE7;
  --colorYellow-100: #FFF9C4;
  --colorYellow-200: #FFF59D;
  --colorYellow-300: #FFF176;
  --colorYellow-400: #FFEE58;
  --colorYellow-500: #FFEB3B;
  --colorYellow-600: #FDD835;
  --colorYellow-700: #FBC02D;
  --colorYellow-800: #F9A825;
  --colorYellow-900: #F57F17;
  --colorYellow-A100: #FFFF8D;
  --colorYellow-A200: #FFFF00;
  --colorYellow-A400: #FFEA00;
  --colorYellow-A700: #FFD600;

  --colorAmber-50: #FFF8E1;
  --colorAmber-100: #FFECB3;
  --colorAmber-200: #FFE082;
  --colorAmber-300: #FFD54F;
  --colorAmber-400: #FFCA28;
  --colorAmber-500: #FFC107;
  --colorAmber-600: #FFB300;
  --colorAmber-700: #FFA000;
  --colorAmber-800: #FF8F00;
  --colorAmber-900: #FF6F00;
  --colorAmber-A100: #FFE57F;
  --colorAmber-A200: #FFD740;
  --colorAmber-A400: #FFC400;
  --colorAmber-A700: #FFAB00;

  --colorOrange-50: #FFF3E0;
  --colorOrange-100: #FFE0B2;
  --colorOrange-200: #FFCC80;
  --colorOrange-300: #FFB74D;
  --colorOrange-400: #FFA726;
  --colorOrange-500: #FF9800;
  --colorOrange-600: #FB8C00;
  --colorOrange-700: #F57C00;
  --colorOrange-800: #EF6C00;
  --colorOrange-900: #E65100;
  --colorOrange-A100: #FFD180;
  --colorOrange-A200: #FFAB40;
  --colorOrange-A400: #FF9100;
  --colorOrange-A700: #FF6D00;

  --colorDeepOrange-50: #FBE9E7;
  --colorDeepOrange-100: #FFCCBC;
  --colorDeepOrange-200: #FFAB91;
  --colorDeepOrange-300: #FF8A65;
  --colorDeepOrange-400: #FF7043;
  --colorDeepOrange-500: #FF5722;
  --colorDeepOrange-600: #F4511E;
  --colorDeepOrange-700: #E64A19;
  --colorDeepOrange-800: #D84315;
  --colorDeepOrange-900: #BF360C;
  --colorDeepOrange-A100: #FF9E80;
  --colorDeepOrange-A200: #FF6E40;
  --colorDeepOrange-A400: #FF3D00;
  --colorDeepOrange-A700: #DD2C00;

  --colorBrown-50: #EFEBE9;
  --colorBrown-100: #D7CCC8;
  --colorBrown-200: #BCAAA4;
  --colorBrown-300: #A1887F;
  --colorBrown-400: #8D6E63;
  --colorBrown-500: #795548;
  --colorBrown-600: #6D4C41;
  --colorBrown-700: #5D4037;
  --colorBrown-800: #4E342E;
  --colorBrown-900: #3E2723;

  --colorGrey-50: #FAFAFA;
  --colorGrey-100: #F5F5F5;
  --colorGrey-200: #EEEEEE;
  --colorGrey-300: #E0E0E0;
  --colorGrey-400: #BDBDBD;
  --colorGrey-500: #9E9E9E;
  --colorGrey-600: #757575;
  --colorGrey-700: #616161;
  --colorGrey-800: #424242;
  --colorGrey-900: #212121;

  --colorBlueGrey-50: #ECEFF1;
  --colorBlueGrey-100: #CFD8DC;
  --colorBlueGrey-200: #B0BEC5;
  --colorBlueGrey-300: #90A4AE;
  --colorBlueGrey-400: #78909C;
  --colorBlueGrey-500: #607D8B;
  --colorBlueGrey-600: #546E7A;
  --colorBlueGrey-700: #455A64;
  --colorBlueGrey-800: #37474F;
  --colorBlueGrey-900: #263238;
}

.loading{
  width: 50px;
  height: 50px;
  user-select: none;
}
.loading svg{
  animation: rotate 2s linear infinite;
}
.loading svg circle{
  fill: none;
  stroke: rgb(0, 188, 212);
  stroke-dasharray: 1,200;
  stroke-width: 3;
  stroke-linecap: round;
  animation: dash 1.5s infinite;
}
@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes dash{
  0%{
    stroke-dasharray: 0,100;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 50,100;
    stroke-dashoffset: 0px;
  }
  100%{
    stroke-dasharray: 0,100;
    stroke-dashoffset: -60px;
  }
}

.popupContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  background: rgba(0,0,0,.4);
  z-index: 8;
}
.popup{
  max-width: 85%;
  background: var(--colorWhite);
  box-shadow: 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12), 0 11px 15px 0 rgba(0,0,0,.2);
}
.popup header{
  margin: 24px 24px 20px 24px;
}
.popup header h4{
  margin: 0;
}
.popup main{
  margin: 20px 24px 24px 24px;
}
.popup footer{
  margin: 0 4px;
  min-height: 36px;
  float: right;
}


.pmd-tab-bar{
  width: 100%;
}
.pmd-tab-scroller{
  position: relative;
  display: flex;
  overflow-x: scroll;
}
.pmd-tab-scroller::-webkit-scrollbar{
  /* firefoxとedgeもけして～><*/
    display: none;
  }
.pmd-tab-item{
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  box-sizing: content-box;
  height: 48px;
  max-width: 360px;
  padding: 0 20px;
  border: none;
  background-color: #fff;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
}
.pmd-tab-item:hover{
  background: rgba(0,0,0,.05);
}
.pmd-tab-item:not([aria-selected="true"]){
  color: rgba(0,0,0,.5);
}
.pmd-tab-Indicator{
  position: absolute;
  right: var(--tab-Indicator-right);
  left: var(--tab-Indicator-left);
  bottom: 0;
  height: 2px;
  width: var(--tab-Indicator-width);
  background: var(--colorBlue-500);
  transition: left .25s, right .2s;
  pointer-events: none;
}


.expanel-container{
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.12), 0 1px 3px 0 rgba(0,0,0,.2);
  transition: margin .3s, box-shadow .1s;
}
.expanel-container[aria-hidden="false"]{
  margin: 16px 0;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.14), 0 3px 4px 0 rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}
.expanel-container[aria-hidden="false"]:first-child{
  margin-top: 0;
}
.expanel-container .expanel-action{
  display: flex;
  align-items: center;
  padding: 0 24px;
  min-height: 64px;
  cursor: pointer;
  transition: padding .2s, background-color .2s, min-height .2s;
}
.expanel-container .expanel-action:hover{
  background-color: var(--colorGrey-200);
}
.expanel-container[aria-hidden="false"] .expanel-action{
  padding: 5px 24px;
  min-height: 64px;
}
.expanel-container .expanel-action .label{
  flex: 1;
  margin-right: 24px;
  font: 14px 'Roboto', 'Arial', sans-serif;
  color: rgba(0,0,0,.87);
}
.expanel-container .expanel-action .label:not(:first-child){
  font: 13px 'Roboto', 'Arial', sans-serif;
  color: rgba(0,0,0,.54);
}
.expanel-container .expanel-action .actionIcon:hover{
  background: rgba(0,0,0,.05);
}
.expanel-container .expanel-action .openIcon .material-icons{
  color: rgba(0,0,0,.38);
  transition: transform .2s;
}
.expanel-container[aria-hidden="false"] .expanel-action .openIcon .material-icons{
  transform: rotate(180deg);
}
.expanel-container .expansionPanel{
  display: none;
}
.expanel-container .expanel-body{
  padding: 8px 24px;
}
.expanel-container .expanel-cancelTOKA {/* TODO:  */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 36px;
  padding: 8px 8px 8px 24px;
}

.expanel-container.dense[aria-hidden="false"]{
  margin: 8px 0;
}
.expanel-container.dense .expanel-action {
  min-height: 38px;
}
.expanel-container.dense[aria-hidden="false"] .expanel-action {
  padding: 0 24px;
  min-height: 45px;
}


.pmd-chip {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  margin: 4px;
  height: 32px;
  border-radius: calc(32px/2);
  background-color: var(--colorGrey-200);
  font-size: 13px;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
}
.pmd-chip.dense {
  margin: 4px 2px;
  height: 26px;
  border-radius: calc(26px/2);
  font-size: 12px;
}
.pmd-chip:hover {
  box-shadow: 0 0 2px 0 rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.12), 0 1px 3px 0 rgba(0,0,0,.2);
}
.pmd-chip:active {
  background-color: var(--colorGrey-300);
}
.pmd-chip-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: -4px;
  border-radius: 50%;
  background-color: var(--colorGrey-800);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
.pmd-chip.dense .icon {
  width: 26px;
  height: 26px;
}
.pmd-chip .text {
  margin: 0 12px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}
.pmd-chip.dense .text {
  margin: 0 8px;
  font-size: 12px;
}
.pmd-chip .clear {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  margin: 0 8px 0 -8px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: rgba(0,0,0,.3);
  color: var(--colorGrey-200);
}
.pmd-chip.dense .clear {
  width: 24px;
  height: 24px;
  padding: 4px;
  margin-right: 4px;
  background-color: transparent;
  color: var(--colorGrey-600);
}
.pmd-chip .clear:hover {
  background-color: rgba(0,0,0,.5);
}
.pmd-chip.dense .clear:hover {
  background-color: transparent;
  color: var(--colorGrey-800);
}
.pmd-chip .clear i {
  font-size: 15px;
}


.pmd-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  background: 0 0;
  border: none;
  outline: none;
  box-sizing: content-box;
  overflow: hidden;
  text-align: center;
  font: 14px 'Roboto','Arial',sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  transition: background-color .2s, color .2s, box-shadow .2s;
  user-select: none;
}
.pmd-button-float {
  display: inline-flex;
  margin: 8px 4px;
  padding: 0;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 2px 0 rgba(0,0,0,.2);
}
.pmd-button-float:hover{
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 3px rgba(0,0,0,.12), 0 4px 15px 0 rgba(0,0,0,.2);
}
button.floatBtn.dense {
  height: 40px;
  width: 40px;
}
.pmd-button-rais{
  height: 36px;
  min-width: 64px;
  margin: 6px 3px;
  padding: 0 16px;
  border-radius: 2px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.14), 0 3px 4px 0 rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}
.pmd-button-rais[disabled]{
  color: rgba(0,0,0,.26);
  background: rgba(0,0,0,.12);
}
.pmd-button-rais:hover{
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 2px 0 rgba(0,0,0,.2);
}
.pmd-button-rais.dense {
  height: 32px;
  font-size: 13px;
}
.pmd-button-flat{
  margin: 8px 4px;
  padding: 0 8px;
  height: 36px;
  min-width: 64px;
  border-radius: 2px;
  color: var(--colorBlue-700);
  text-align: center;
}
.pmd-button-flat[disabled]{
  color: rgba(0,0,0,.26);
}
.pmd-button-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 24px;
  color: rgba(0,0,0,.6);
}
.pmd-button-icon[disabled] {
  color: rgba(0,0,0,.2);
}
.pmd-button-flat:hover, .pmd-button-action:hover{
  background: rgba(153,153,153,.3);
}

input.m[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 2px;
  border: solid 2px var(--colorGrey-700);
  background-color: transparent;
  outline: none;
  transition: background-color .15s, border-color .15s;
}
input.m[type="checkbox"]:checked {
  border: solid 2px var(--colorDeepOrange-500);
  background-color: var(--colorDeepOrange-500);
}
input.m[type="checkbox"]::after {
  content: "";
  position: absolute;
  width: 36%;
  height: 70%;
  border: 2.4px solid var(--colorWhite);
  border-top: none;
  border-left: none;
  transform-origin: 97% 86%;
  box-sizing: content-box;
  transform: scale(0) rotate(45deg);
  transition: transform .1s;
}
input.m[type="checkbox"]:checked::after {
  transform: scale(1) rotate(45deg);
}

.pmd-top-appbar{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  height: 64px;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  z-index: 4;
}
.pmd-top-appbar.prominent{
  height: 128px;
}
.pmd-top-appbar.fixed{
  position: fixed;
  top: 0;
  width: 100%;
}
.pmd-top-appbar-section{
  display: inline-flex;
  flex: 1 1 auto;
  align-items: center;
  min-width: 0;
  padding: 8px 12px;
}
.pmd-top-appbar-section--align-start{
  justify-content: flex-start;
  order: -1;
}
.pmd-top-appbar-section--align-end{
  justify-content: flex-end;
  order: 1;
}
.pmd-top-appbar-action-item,.pmd-top-appbar-navigation-icon{
  display: flex;
  position: relative;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 12px;
  border: none;
  outline: none;
  background-color: transparent;
  fill: currentColor;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
}
.pmd-top-appbar-title{
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: .0125em;
  text-decoration: inherit;
  text-transform: inherit;
  padding-left: 20px;
  padding-right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.pmd-top-app-bar--fixed-adjust{
  margin-top: 64px;
}
@media(max-width: 599px){
  .pmd-top-appbar{height: 56px;}
  .pmd-top-appbar-section{padding: 4px;}
  .pmd-top-app-bar--fixed-adjust{margin-top: 56px;}
}

#pmd-tooltip{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  padding: 0 8px;
  min-height: 24px;
  border-radius: 2px;
  opacity: .9;
  background-color: #616161;
  color: #fff;
  font-size: 10px;
  white-space: nowrap;
  transform: scale(1);
  transition: opacity .15s .3s,transform .2s .3s;
  z-index: 8000;
  pointer-events: none;
}
#pmd-tooltip[aria-hidden="true"]{
  opacity: 0;
  transform: scale(.9);
}
@media(max-height:640px){
  #pmd-tooltip{
    padding: 0 16px;
    min-height: 32px;
  }
}

#dialogContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;bottom: 0;
  right: 0;left: 0;
  box-shadow: 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12), 0 11px 15px 0 rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.32);
}
#dialogContainer .dialog{
  min-width: 280px;
  max-width: 95%;
  background-color: #fff;
}
#dialogContainer .dialog .title{
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 24px;
  font-size: 16px;
  color: rgba(0,0,0,.87);
  font-weight: bold;
}
#dialogContainer .dialog .supporting{
  padding: 0 24px;
  font-size: 14px;
  color: #232F34;
}
#dialogContainer .dialog .buttons{
  min-height: 52px;
  padding: 0 4px;
  float: right;
}
#dialogContainer .dialog .buttons button{
  font-size: 14px;
  color: #232F34;
}

.select{
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  height: 52px;
  overflow: hidden;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='5' viewBox='7 10 10 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%230' fill-rule='evenodd' opacity='.54' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px bottom 12px;
}
.select select{
  color: rgba(0,0,0,.87);
  padding: 20px 26px 4px 0;
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: .00937em;
  text-decoration: inherit;
  text-transform: inherit;
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select:not(:hover) select{
  border-bottom-color: rgba(0,0,0,.42);
}
.select.focus select{
  border-bottom-color: rgba(98, 0, 238, 0.87);
}
.select.focus label, .select.hv label{
  color: rgba(98, 0, 238, 0.87);
  transform: translateY(-1em) scale(.75);
}
.select label{
  position: absolute;
  left: 0;bottom: 4px;
  color: rgba(0,0,0,.6);
  font-family: Roboto,sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: .00937em;
  text-decoration: inherit;
  text-transform: inherit;
  transform-origin: left top;
  transition: transform .15s cubic-bezier(.4,0,.2,1),color .15s cubic-bezier(.4,0,.2,1);
  pointer-events: none;
}


.pmd-textField{
  height: 48px;
  display: inline-flex;
  position: relative;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 8px;
  border-bottom-color: rgba(0,0,0,.12);
}
.pmd-textField-input{
  border-bottom-color: rgba(0,0,0,.42);
  color: rgba(0,0,0,.87);
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: .00937em;
  text-decoration: inherit;
  text-transform: inherit;
  width: 100%;
  height: 30px;
  padding: 20px 0 1px;
  -webkit-transition: opacity .18s cubic-bezier(.4,0,.2,1);
  -o-transition: opacity .18s cubic-bezier(.4,0,.2,1);
  transition: opacity .18s cubic-bezier(.4,0,.2,1);
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.pmd-textField-label{
  color: rgba(0,0,0,.6);
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: .00937em;
  text-decoration: inherit;
  text-transform: inherit;
  position: absolute;
  bottom: 8px;
  left: 0;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  transition: color .15s cubic-bezier(.4,0,.2,1),-webkit-transform .15s cubic-bezier(.4,0,.2,1);
  -webkit-transition: color .15s cubic-bezier(.4,0,.2,1),-webkit-transform .15s cubic-bezier(.4,0,.2,1);
  -o-transition: transform .15s cubic-bezier(.4,0,.2,1),color .15s cubic-bezier(.4,0,.2,1);
  transition: transform .15s cubic-bezier(.4,0,.2,1),color .15s cubic-bezier(.4,0,.2,1);
  transition: transform .15s cubic-bezier(.4,0,.2,1),color .15s cubic-bezier(.4,0,.2,1),-webkit-transform .15s cubic-bezier(.4,0,.2,1);
  line-height: 1.15rem;
  cursor: text;
  pointer-events: none;
}

.pmd-card{
  display: flex;
  flex-direction: column;
  margin: 4px;
  min-width: 300px;
  max-width: 100%;
  border-radius: 2px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  transition: box-shadow .1s ease-out;
}
.pmd-card:hover{
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
.pmd-card-primary-actions{
  position: relative;
}
.pmd-card-primary-actions:hover{
  background-color: #eee;
}
.pmd-card-media{
  min-height: 150px;
  min-width: 150px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,.2);
}
.pmd-card-media-icon{
  height: 40px;
  width: 40px;
  margin: 0 1em;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,.2);
}
.pmd-card-primary{
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-right: 24px;
}
.pmd-card-title{
  margin: 0;
}
.pmd-card-subtitle{
  font-size: 14px;
  color: rgba(0,0,0,.76);
}
.pmd-card-supporting{
  font-size: 14px;
  color: rgba(0,0,0,.76);
}
.pmd-card-body{
  padding: 0 16px 8px;
}
.pmd-card-actions{
  padding: 8px;
  border-top: 1px solid #e0e0e0;
}

.pmd-card.dense .pmd-card-primary-actions{
  display: flex;
  flex-direction: row;
}
.pmd-card.dense .pmd-card-media{
  min-height: 100px;
  min-width: 100px;
}
.pmd-card.dense .pmd-card-overview{
  flex: 1;
}

.pmd-search-view{
  display: flex;
  margin: 12px 8px;
  height: 48px;
  border-radius: 2px;
  color: var(--colorGrey-400);
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.pmd-search-view-action-icon,.pmd-search-view-navigation-icon{
  margin: 12px 16px;
  vertical-align: top;
}
.pmd-search-view .clear{
  cursor: pointer;
}
.pmd-search-view input{
  flex: 1;
  height: 48px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.pmd-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.pmd-list-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  height: 48px;
  color: var(--colorGrey-700);
  overflow: hidden;
}
.pmd-list-item:hover{
  background-color: var(--colorGrey-100);
}
.pmd-list-item-primary{
  display: block;
  overflow: hidden;
}
.pmd-list-item-icon{
  fill: rgba(0,0,0,.54);
  color: rgba(0,0,0,.54);
  margin-right: 32px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.pmd-list-avatar .pmd-list-item-icon{
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border-radius: 50%;
}
.pmd-list-item-action{
  margin-left: auto;
  margin-right: 0;
  color: rgba(0,0,0,.38);
  cursor: pointer;
}

.pmd-icon-button{
  display: inline-block;
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 24px;
  outline: none;
}
.pmd-icon-button:hover{
  background-color: var(--colorGrey-100);
}
.pmd-icon-button:active{
  background-color: var(--colorGrey-300);
}
@media (max-width:639px){
  .pmd-icon-button{
    width: 38px;
    height: 38px;
    padding: 6px;
    font-size: 22px;
  }
}

.pmd-drawer{
  position: fixed;
  top: 0; bottom: 0; right: 0; left: 0;
  background-color: transparent;
  transition: background-color .2s;
  z-index: 1000;
  pointer-events: none;
}
.pmd-drawer-header--dence{
  padding: 16px;
}
.pmd-drawer-drawer{
  position: absolute;
  right: auto;
  width: calc(100% - 64px);
  max-width: 320px;
  height: 100vh;
  background-color: var(--colorWhite);
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
  transform: translateX(calc(-100% - 20px));
  transition: transform .35s cubic-bezier(0.24,1,0.32,1);
}
.pmd-drawer-nav{
  border-bottom: 1px solid var(--colorGrey-300);
  padding: 12px 0;
}
.pmd-drawer-nav:last-child{
  border-bottom: none;
}
.pmd-drawer--subnav li{
  padding: 0 16px;
  font-size: .8em;
  color: rgba(0,0,0,.87);
}
.pmd-drawer-listitem{
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: rgba(0,0,0,.87);
  font-size: 14px;
}
.pmd-drawer--active{
  background-color: rgba(0,0,0,.32);
  pointer-events: auto;
}
.pmd-drawer--active>.pmd-drawer-drawer{
  transform: translateX(0);
}

.pmd-dialog{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;bottom: 0;
  right: 0;left: 0;
  box-shadow: 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12), 0 11px 15px 0 rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.32);
  z-index: 1000;
}
.pmd-dialog-dialog{
  max-width: 865px;
  width: calc(100% - 2rem);
  background-color: #fff;
}
.pmd-dialog-header{
  display: flex;
  align-content: center;
  padding: 24px 24px 0;
}
.pmd-dialog-title{
  margin: 0;
  flex: 1 1;
  font-size: 1.25rem;
  color: rgba(0,0,0,.87);
}
.pmd-dialog-body{
  color: var(--colorGrey-700);
  font-size: 1rem;
  margin-top: 20px;
  padding: 0 24px 24px;
}
.pmd-dialog-body--scrollable{
  max-height: 195px;
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
  overflow-y: scroll;
}
.pmd-dialog-footer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
}
.pmd-dialog-buttons{
  min-height: 52px;
  padding: 0 4px;
  float: right;
}
.pmd-dialog-buttons button{
  font-size: 14px;
  color: #232F34;
}

.pmd-text-field-container{
  min-width: 200px;
}
.pmd-text-field{
  display: inline-flex;
  position: relative;
  align-items: flex-end;
  box-sizing: border-box;
  height: 48px;
  margin: 16px 0 8px 0;
  border-bottom-color: rgba(0,0,0,.12);
}
.pmd-text-field-input{
  width: 100%;
  height: 30px;
  padding: 20px 0 1px;
  border: none;
  outline: none;
  font-size: 1rem;
  color: rgba(0,0,0,.87);
  border-bottom: 1px solid rgba(0,0,0,.42);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.pmd-floating-label{
  position: absolute;
  bottom: 8px;
  left: 0;
  font-size: 1rem;
  color: rgba(0,0,0,.6);
  transition: transform .15s cubic-bezier(.4,0,.2,1),color .15s cubic-bezier(.4,0,.2,1),-webkit-transform .15s cubic-bezier(.4,0,.2,1);
  pointer-events: none;
}

.pmd-ripple{
  will-change: transform,opacity;
  overflow: hidden;
}
.pmd-ripple:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: var(--pmd-ripple-size);
  height: var(--pmd-ripple-size);
  border-radius: 50%;
  transform: scale(0);
  transform-origin: center center;
  pointer-events: none;

  background-color: #888;
}
.pmd-ripple.pmd-ripple-active::after{
  animation: ripple-in .225s ease-out forwards, ripple-fadein .225s ease-out forwards;
}
.pmd-ripple.pmd-ripple-remove::after{
  animation: ripple-out .15s ease-out forwards;
}

@keyframes ripple-in{
  from{
    transform: translate(var(--pmd-ripple-start,0)) scale(0);
  }
  to{
    transform: translate(var(--pmd-ripple-end,0)) scale(1);
  }
}
@keyframes ripple-fadein{
  from{
    opacity: 0;
  }
  to{
    opacity: .4;
  }
}
@keyframes ripple-out{
  from{
    transform: translate(0) scale(1);
    opacity: .4;
  }
  to{
    opacity: 0;
  }
}

.pmd-snackbar{
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 10px;
  left: 10px;
  min-width: 288px;
  box-sizing: border-box;
  height: 48px;
  padding: 0 24px;
  border-radius: 2px;
  background-color: #323232;
  font-size: 14px;
  color: #fff;
  transform: translateY(150%);
  z-index: 4000;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 2px 0 rgba(0,0,0,.2);
  transition: transform .35s cubic-bezier(0.24,1,0.32,1);
  user-select: none;
}
@media(max-width:640px){
  .pmd-snackbar{
    bottom: 0;
    right: 0;
    left: 0;
  }
}
.pmd-snackbar-active{
  transform: translateY(0);
}
.pmd-snackbar-text{
  flex: 1;
}
.pmd-snackbar-action-button{
  color: var(--colorBlueGrey-400);
}





/*
shadow
dp1: box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
dp2: box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
dp3: box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
dp4: box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
dp5: box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
dp6: box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
dp7: box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);
dp8: box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
dp9: box-shadow: 0 5px 6px -3px rgba(0,0,0,.2), 0 9px 12px 1px rgba(0,0,0,.14), 0 3px 16px 2px rgba(0,0,0,.12);
dp10: box-shadow: 0 6px 6px -3px rgba(0,0,0,.2), 0 10px 14px 1px rgba(0,0,0,.14), 0 4px 18px 3px rgba(0,0,0,.12);
dp11: box-shadow: 0 6px 7px -4px rgba(0,0,0,.2), 0 11px 15px 1px rgba(0,0,0,.14), 0 4px 20px 3px rgba(0,0,0,.12);
dp12: box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
dp13: box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
dp14: box-shadow: 0 7px 9px -4px rgba(0,0,0,.2), 0 14px 21px 2px rgba(0,0,0,.14), 0 5px 26px 4px rgba(0,0,0,.12);
dp15: box-shadow: 0 8px 9px -5px rgba(0,0,0,.2), 0 15px 22px 2px rgba(0,0,0,.14), 0 6px 28px 5px rgba(0,0,0,.12);
dp16: box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
dp17: box-shadow: 0 8px 11px -5px rgba(0,0,0,.2), 0 17px 26px 2px rgba(0,0,0,.14), 0 6px 32px 5px rgba(0,0,0,.12);
dp18: box-shadow: 0 9px 11px -5px rgba(0,0,0,.2), 0 18px 28px 2px rgba(0,0,0,.14), 0 7px 34px 6px rgba(0,0,0,.12);
dp19: box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
dp20: box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
dp21: box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
dp22: box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
dp23: box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
dp24: box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
*/
