.pmd-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.pmd-list-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  height: 48px;
  color: #616161;
  overflow: hidden;
}
.pmd-list-item:hover{
  background-color: #F5F5F5;
}
.pmd-list-item-primary{
  display: block;
  overflow: hidden;
}
.pmd-list-item-icon{
  fill: rgba(0,0,0,.54);
  color: rgba(0,0,0,.54);
  margin-right: 32px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.pmd-list-avatar .pmd-list-item-icon{
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border-radius: 50%;
}
.pmd-list-item-action{
  margin-left: auto;
  margin-right: 0;
  color: rgba(0,0,0,.38);
  cursor: pointer;
}
